<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="https://festa2024.softwarelivre.eu/en" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Press Release</title>
    <link>https://festa2024.softwarelivre.eu/en</link>
    <description></description>
    <language>en</language>
    
    <item>
  <title>Press Release</title>
  <link>https://festa2024.softwarelivre.eu/en/node/18</link>
  <description>
&lt;span&gt;Press Release&lt;/span&gt;

&lt;span&gt;&lt;span&gt;adaragao&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime=&quot;2024-09-16T00:00:00+01:00&quot; title=&quot;Monday, September 16, 2024 - 00:00&quot;&gt;Mon, 09/16/2024 - 00:00&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sun, 15 Sep 2024 23:00:00 +0000</pubDate>
    <dc:creator>adaragao</dc:creator>
    <guid isPermaLink="false">18 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
