<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="https://festa2024.softwarelivre.eu/pt-pt" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Festival</title>
    <link>https://festa2024.softwarelivre.eu/pt-pt</link>
    <description></description>
    <language>pt-pt</language>
    
    <item>
  <title>20 Anos de Festa do Software Livre</title>
  <link>https://festa2024.softwarelivre.eu/pt-pt/node/7</link>
  <description>
&lt;span&gt;20 Anos de Festa do Software Livre&lt;/span&gt;

&lt;span&gt;&lt;span&gt;andralves&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime=&quot;2024-06-20T00:00:00+01:00&quot; title=&quot;Thursday, 20 de June de 2024 - 00:00&quot;&gt;Thu, 2024-06-20 00:00&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Wed, 19 Jun 2024 23:00:00 +0000</pubDate>
    <dc:creator>andralves</dc:creator>
    <guid isPermaLink="false">7 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
