<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="https://festa2024.softwarelivre.eu/en" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>aniversário</title>
    <link>https://festa2024.softwarelivre.eu/en</link>
    <description></description>
    <language>en</language>
    
    <item>
  <title>20 Anos de Festa do Software Livre</title>
  <link>https://festa2024.softwarelivre.eu/pt-pt/node/7</link>
  <description>
&lt;span&gt;20 Years of the Free Software Festival&lt;/span&gt;

&lt;span&gt;&lt;span&gt;adaragao&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime=&quot;2024-09-12T00:31:29+01:00&quot; title=&quot;Thursday, September 12, 2024 - 00:31&quot;&gt;Thu, 09/12/2024 - 00:31&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Wed, 19 Jun 2024 23:00:00 +0000</pubDate>
    <dc:creator>andralves</dc:creator>
    <guid isPermaLink="false">7 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
