<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/en">
  <channel>
    <title>4.1.23</title>
    <link>https://festa2024.softwarelivre.eu/en</link>
    <description/>
    <language>en</language>
    
    
  </channel>
</rss>
