<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/pt-pt">
  <channel>
    <title>Press Release</title>
    <link>https://festa2024.softwarelivre.eu/pt-pt</link>
    <description/>
    <language>pt-pt</language>
    
    <item>
  <title>Press Release</title>
  <link>https://festa2024.softwarelivre.eu/en/node/18</link>
  <description><![CDATA[
<span>Press Release</span>

<span><span>adaragao</span></span>

<span>Mon, 2024-09-16 14:53
</span>
]]></description>
  <pubDate>Sun, 15 Sep 2024 23:00:00 +0000</pubDate>
    <dc:creator>adaragao</dc:creator>
    <guid isPermaLink="false">18 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
