<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="https://festa2024.softwarelivre.eu/en" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Stand</title>
    <link>https://festa2024.softwarelivre.eu/en</link>
    <description></description>
    <language>en</language>
    
    
  </channel>
</rss>
