<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/en">
  <channel>
    <title>aniversary</title>
    <link>https://festa2024.softwarelivre.eu/en</link>
    <description/>
    <language>en</language>
    
    <item>
  <title>20 Anos de Festa do Software Livre</title>
  <link>https://festa2024.softwarelivre.eu/pt-pt/node/7</link>
  <description><![CDATA[
<span>20 Years of the Free Software Festival</span>

<span><span>adaragao</span></span>

<span>Thu, 09/12/2024 - 00:31
</span>
]]></description>
  <pubDate>Wed, 19 Jun 2024 23:00:00 +0000</pubDate>
    <dc:creator>andralves</dc:creator>
    <guid isPermaLink="false">7 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
