/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
ck.h1{letter-spacing:-0.01em;font-size:2.75rem;line-height:var(--sp2);}
@media screen{.list-unstyled{display:flex;list-style-type:none;padding:0px;justify-content:center;}.list-unstyled li{margin-right:15px;text-transform:uppercase;}
}
@media screen{.fieldset__label{display:block;color:#000000;}
}
.quicktabs-tabs{display:flex;flex-grow:1;flex-direction:row;width:100%;margin:0;padding:0;list-style:none;align-items:center;height:3.375rem;transition:background-color var(--tabs-transition-duration);text-decoration-color:#f00;letter-spacing:1px;color:hsl(201,15%,44%);border:1px solid hsl(201,15%,93%);background-color:hsl(201,15%,97%);font-size:0.875rem;}.quicktabs-tabs:hover{color:hsl(201,15%,5%);background-color:hsl(201,15%,93%);}.quicktabs-tabs:focus{position:relative;outline:hsl(201,15%,93%);outline-offset:-3px;}.quicktabs-tabs.is-active{position:relative;color:hsl(201,15%,5%);font-weight:600;}.quicktabs-tabs.is-active::after{position:absolute;height:2;content:"";}.loaded{text-decoration:none;color:hsl(201,15%,44%);margin-right:20px;}.loaded:hover{font-weight:bold;}
