/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.views-view-responsive-grid{--views-responsive-grid--layout-gap:10px;--views-responsive-grid--column-count:4;--views-responsive-grid--cell-min-width:100px;}.views-view-responsive-grid--horizontal{--views-responsive-grid--gap-count:calc(var(--views-responsive-grid--column-count) - 1);--views-responsive-grid--total-gap-width:calc(var(--views-responsive-grid--gap-count) * var(--views-responsive-grid--layout-gap));--views-responsive-grid-item--max-width:calc((100% - var(--views-responsive-grid--total-gap-width)) / var(--views-responsive-grid--column-count));--views-responsive-grid-item--calculated-min-width:min(100%,var(--views-responsive-grid--cell-min-width));display:grid;grid-template-columns:repeat(auto-fill,minmax(max(var(--views-responsive-grid-item--calculated-min-width),var(--views-responsive-grid-item--max-width)),1fr));gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical{margin-bottom:calc(var(--views-responsive-grid--layout-gap) * -1);column-width:var(--views-responsive-grid--cell-min-width);column-count:var(--views-responsive-grid--column-count);column-gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical .views-view-responsive-grid__item > *{padding-bottom:var(--views-responsive-grid--layout-gap);page-break-inside:avoid;break-inside:avoid;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.ajax-progress{display:inline-block;padding:1px 5px 2px 5px;}[dir="rtl"] .ajax-progress{float:right;}.ajax-progress-throbber .throbber{display:inline;padding:1px 6px 2px;background:transparent url(/core/misc/throbber-active.gif) no-repeat 0 center;}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px;}tr .ajax-progress-throbber .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.ajax-progress-fullscreen{position:fixed;z-index:1261;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:0.9;border-radius:7px;background-color:#232323;background-image:url(/core/misc/loading-small.gif);background-repeat:no-repeat;background-position:center center;}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus-within{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}@media (scripting:enabled){.js-hide.js-hide{display:none;}.js-show{display:block;}}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon::before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error::before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning::before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked::before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.cke5-custom-block-indent-1{margin-left:40px;}.cke5-custom-block-indent-2{margin-left:80px;}.cke5-custom-block-indent-3{margin-left:120px;}.cke5-custom-block-indent-4{margin-left:160px;}.cke5-custom-block-indent-5{margin-left:200px;}.cke5-custom-block-indent-6{margin-left:240px;}.cke5-custom-block-indent-7{margin-left:280px;}.cke5-custom-block-indent-8{margin-left:320px;}.cke5-custom-block-indent-9{margin-left:360px;}.cke5-custom-block-indent-10{margin-left:400px;}.cke5-custom-block-indent-11{margin-left:440px;}.cke5-custom-block-indent-12{margin-left:480px;}.cke5-custom-block-indent-13{margin-left:520px;}.cke5-custom-block-indent-14{margin-left:560px;}.cke5-custom-block-indent-15{margin-left:600px;}.cke5-custom-block-indent-16{margin-left:640px;}.cke5-custom-block-indent-17{margin-left:680px;}.cke5-custom-block-indent-18{margin-left:720px;}.cke5-custom-block-indent-19{margin-left:760px;}.cke5-custom-block-indent-20{margin-left:800px;}
.ckeditor-accordion-container > dl:before,.ckeditor-accordion-container > dl:after{content:" ";display:table;}.ckeditor-accordion-container > dl:after{clear:both;}.ckeditor-accordion-container > dl,.ckeditor-accordion-container > dl dt,.ckeditor-accordion-container > dl dd{box-sizing:border-box;}.ckeditor-accordion-container > dl{position:relative;border:1px solid #0091ea;}.ckeditor-accordion-container > dl dt{position:relative;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle{display:inline-block;position:absolute;padding:0 10px;width:30px;height:30px;z-index:1;top:calc(50% - 1px);left:11px;box-sizing:border-box;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{background:#fff;-webkit-transition:all 600ms cubic-bezier(0.4,0,0.2,1);transition:all 600ms cubic-bezier(0.4,0,0.2,1);content:"";display:block;height:2px;position:absolute;width:10px;z-index:-1;left:0;top:0;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);will-change:transform;}.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:after{transition:initial;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before{left:13px;-webkit-transform:rotate(135deg);transform:rotate(135deg);}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{right:13px;left:auto;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before{transform:rotate(45deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after{transform:rotate(-45deg);}.ckeditor-accordion-container > dl dt > a,.ckeditor-accordion-container > dl dt > a:not(.button){display:block;padding:10px 15px 10px 50px;background-color:#00b0ff;color:#fff;cursor:pointer;-webkit-transition:background-color 300ms;transition:background-color 300ms;border-bottom:1px solid #00a4ec;}.ckeditor-accordion-container > dl dt > a:focus,.ckeditor-accordion-container > dl dt > a:not(.button):focus{outline-color:#333;}.ckeditor-accordion-container > dl dt > a:hover,.ckeditor-accordion-container > dl dt > a:not(.button):hover{background-color:#00a5ef;box-shadow:none;color:#fff;text-decoration:none;}.ckeditor-accordion-container > dl dt.active > a{background-color:#0091ea;}.ckeditor-accordion-container > dl dt:last-of-type > a{border-bottom:0;}.ckeditor-accordion-container > dl dd{display:none;padding:0 15px;margin:0;}
.quicktabs-hide{display:none;}ul.quicktabs-tabs{margin-top:0;}ul.quicktabs-tabs li{display:inline;background:none;list-style-type:none;padding:2px;white-space:nowrap;}ul.quicktabs-tabs li a:focus{outline:none;}
