/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.views-view-responsive-grid{--views-responsive-grid--layout-gap:10px;--views-responsive-grid--column-count:4;--views-responsive-grid--cell-min-width:100px;}.views-view-responsive-grid--horizontal{--views-responsive-grid--gap-count:calc(var(--views-responsive-grid--column-count) - 1);--views-responsive-grid--total-gap-width:calc(var(--views-responsive-grid--gap-count) * var(--views-responsive-grid--layout-gap));--views-responsive-grid-item--max-width:calc((100% - var(--views-responsive-grid--total-gap-width)) / var(--views-responsive-grid--column-count));--views-responsive-grid-item--calculated-min-width:min(100%,var(--views-responsive-grid--cell-min-width));display:grid;grid-template-columns:repeat(auto-fill,minmax(max(var(--views-responsive-grid-item--calculated-min-width),var(--views-responsive-grid-item--max-width)),1fr));gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical{margin-bottom:calc(var(--views-responsive-grid--layout-gap) * -1);column-width:var(--views-responsive-grid--cell-min-width);column-count:var(--views-responsive-grid--column-count);column-gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical .views-view-responsive-grid__item > *{padding-bottom:var(--views-responsive-grid--layout-gap);page-break-inside:avoid;break-inside:avoid;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}@media (scripting:enabled){.js-hide.js-hide{display:none;}.js-show{display:block;}}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon::before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error::before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning::before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked::before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.caption{display:table;}.caption > *{display:block;max-width:100%;}.caption > figcaption{display:table-caption;max-width:none;caption-side:bottom;}.caption > figcaption[contenteditable="true"]:empty::before{content:attr(data-placeholder);font-style:italic;}
.caption .media .field,.caption .media .field *{float:none;margin:unset;}
.blazy,.blazy *,.blazy *::before,.blazy *::after{box-sizing:border-box;}.b-lazy,.b-responsive{display:block;max-width:100%;height:auto;min-height:1px;}html:not(.js) .b-lazy[data-src],html:not(.js) [data-b-blur]{display:none;}.b-bg,.b-bg-static,.media--ratio .is-b-ie{display:block;background-repeat:no-repeat;background-position:center center;background-size:cover;}.b-loaded,.b-error,.b-bg.is-b-loading{opacity:1;}.litebox,.blazy iframe,.media iframe{display:block;max-width:100%;border:0;}.media--blazy,.media--fx{position:relative;}.media--blazy iframe{position:relative;z-index:1;width:100%;}.blazy svg,.media-wrapper--inline{max-width:100%;}.media-wrapper--inline{margin:auto;}.blazy .media{display:block;}.media--fx{overflow:hidden;}.media--fx img{display:block;width:100%;color:transparent;}.media--ratio .media__element,.media--ratio svg,.media--fx .b-blur{position:absolute;z-index:0;inset:0;width:100%;height:100%;min-height:1px;object-fit:cover;}.media--ratio audio.media__element{z-index:1;}.animated img,.b-bg.is-b-animated{opacity:1;}.field[data-blazy]{min-width:50%;}.blazy .media--blazy img.b-blur,.blazy .media--blazy img.media__element,.blazy .grid figure{margin:0;}.b-html,.media--instagram{min-height:140px;}.b-html iframe,.media--instagram iframe{min-height:420px;}.grid iframe,.blazy .twitter-tweet-rendered{max-width:100% !important;}.grid iframe,.grid .media__html > span{min-width:100% !important;}.b-html.b-loaded > img{position:absolute;z-index:-1;visibility:hidden;opacity:0;}.blazy .grid__content,.blazy .region__content{position:relative;overflow:visible;width:100%;max-width:100%;margin-block-end:0;}.b-error.b-checked{display:none;}.view.view--blazy,.view.view--blazy .view-content{display:block;}.blazy > .grid{margin-block-end:0;}
@keyframes rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}}.is-b-loading{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:relative;min-height:30px;}.is-b-loading::before{position:absolute;z-index:-1;top:50%;left:50%;display:none;width:30px;max-width:30px;height:30px;margin-top:-15px;margin-left:-15px;content:"";background:#2eaae0;font-size:0;}.is-b-loading.is-b-visible::before{z-index:22;display:block;-webkit-animation:rotateplane 1.2s infinite ease-in-out;animation:rotateplane 1.2s infinite ease-in-out;}
.media-wrapper--blazy,.media-wrapper--blazy *{box-sizing:border-box;}.media-wrapper--blazy{position:relative;min-width:50%;max-width:100%;}.grid .media-wrapper--blazy{width:100%;}.caption .media-wrapper--blazy,.align-left .media-wrapper--blazy,.align-right .media-wrapper--blazy,.align-center .media-wrapper--blazy{min-width:320px;}.blazy--filter .media-wrapper--blazy{overflow:hidden;min-width:0;}.media-wrapper--blazy.align-center img{display:block;margin-right:auto;margin-left:auto;}.media-wrapper--blazy.alignment-left img{float:left;margin-right:15px;}.media-wrapper--blazy.alignment-right img{float:right;margin-left:15px;}
.media.media--ratio{position:relative;display:block;overflow:hidden;width:100%;max-width:100%;height:0;min-height:1px;}.media--ratio.is-b-loaded{transition:padding-bottom 0.2s;}.media--ratio--11{padding-bottom:100%;}.media--ratio--32{padding-bottom:66.66%;}.media--ratio--43{padding-bottom:75%;}.media--ratio--85{padding-bottom:62.5%;}.media--ratio--169{padding-bottom:56.25%;}
.teaser{position:relative;padding-block-end:var(--sp1-5);}.teaser::after{position:absolute;inset-block-end:0;width:var(--sp3);height:0;content:"";border-top:solid 2px var(--color--gray-95);}@media (min-width:62.5rem){.teaser{padding-block-end:var(--sp3);}}.teaser__content{display:grid;grid-auto-rows:max-content;gap:var(--sp);}.teaser__content .field:not(:last-child){margin-block-end:0;}@media (min-width:62.5rem){.teaser__content{gap:var(--sp2);}}.teaser__image{flex-shrink:0;margin:0;}.teaser__image:empty{display:none;}.teaser__image:empty + .teaser__title{flex-basis:auto;}.teaser__image a{display:block;}.teaser__image img{width:var(--sp3-5);height:var(--sp3-5);object-fit:cover;border-radius:50%;}@media (min-width:62.5rem){.teaser__image img{width:var(--grid-col-width);height:var(--grid-col-width);}}@media (min-width:62.5rem){.teaser__image{position:absolute;inset-block-start:0;inset-inline-start:calc(-1 * ((var(--grid-col-width) + var(--grid-gap))));margin:0;}}.teaser__meta{margin-block-end:var(--sp);}.teaser__title{margin-block:0;flex-basis:calc(100% - var(--sp4-5));color:var(--color-text-neutral-loud);font-size:1.5rem;line-height:var(--line-height-base);}@media (min-width:62.5rem){.teaser__title{flex-basis:auto;font-size:var(--sp2);line-height:var(--sp3);}}.teaser__top{display:flex;flex-wrap:nowrap;align-items:center;margin:0;gap:var(--sp1);margin-block-end:var(--sp1);}@media (min-width:62.5rem){.teaser__top{position:relative;}}
.cke5-custom-block-indent-1{margin-left:40px;}.cke5-custom-block-indent-2{margin-left:80px;}.cke5-custom-block-indent-3{margin-left:120px;}.cke5-custom-block-indent-4{margin-left:160px;}.cke5-custom-block-indent-5{margin-left:200px;}.cke5-custom-block-indent-6{margin-left:240px;}.cke5-custom-block-indent-7{margin-left:280px;}.cke5-custom-block-indent-8{margin-left:320px;}.cke5-custom-block-indent-9{margin-left:360px;}.cke5-custom-block-indent-10{margin-left:400px;}.cke5-custom-block-indent-11{margin-left:440px;}.cke5-custom-block-indent-12{margin-left:480px;}.cke5-custom-block-indent-13{margin-left:520px;}.cke5-custom-block-indent-14{margin-left:560px;}.cke5-custom-block-indent-15{margin-left:600px;}.cke5-custom-block-indent-16{margin-left:640px;}.cke5-custom-block-indent-17{margin-left:680px;}.cke5-custom-block-indent-18{margin-left:720px;}.cke5-custom-block-indent-19{margin-left:760px;}.cke5-custom-block-indent-20{margin-left:800px;}
.ckeditor-accordion-container > dl:before,.ckeditor-accordion-container > dl:after{content:" ";display:table;}.ckeditor-accordion-container > dl:after{clear:both;}.ckeditor-accordion-container > dl,.ckeditor-accordion-container > dl dt,.ckeditor-accordion-container > dl dd{box-sizing:border-box;}.ckeditor-accordion-container > dl{position:relative;border:1px solid #0091ea;}.ckeditor-accordion-container > dl dt{position:relative;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle{display:inline-block;position:absolute;padding:0 10px;width:30px;height:30px;z-index:1;top:calc(50% - 1px);left:11px;box-sizing:border-box;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{background:#fff;-webkit-transition:all 600ms cubic-bezier(0.4,0,0.2,1);transition:all 600ms cubic-bezier(0.4,0,0.2,1);content:"";display:block;height:2px;position:absolute;width:10px;z-index:-1;left:0;top:0;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);will-change:transform;}.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:after{transition:initial;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before{left:13px;-webkit-transform:rotate(135deg);transform:rotate(135deg);}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{right:13px;left:auto;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before{transform:rotate(45deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after{transform:rotate(-45deg);}.ckeditor-accordion-container > dl dt > a,.ckeditor-accordion-container > dl dt > a:not(.button){display:block;padding:10px 15px 10px 50px;background-color:#00b0ff;color:#fff;cursor:pointer;-webkit-transition:background-color 300ms;transition:background-color 300ms;border-bottom:1px solid #00a4ec;}.ckeditor-accordion-container > dl dt > a:focus,.ckeditor-accordion-container > dl dt > a:not(.button):focus{outline-color:#333;}.ckeditor-accordion-container > dl dt > a:hover,.ckeditor-accordion-container > dl dt > a:not(.button):hover{background-color:#00a5ef;box-shadow:none;color:#fff;text-decoration:none;}.ckeditor-accordion-container > dl dt.active > a{background-color:#0091ea;}.ckeditor-accordion-container > dl dt:last-of-type > a{border-bottom:0;}.ckeditor-accordion-container > dl dd{display:none;padding:0 15px;margin:0;}
.layout--onecol .layout__region{width:100%;}
