/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.views-view-responsive-grid{--views-responsive-grid--layout-gap:10px;--views-responsive-grid--column-count:4;--views-responsive-grid--cell-min-width:100px;}.views-view-responsive-grid--horizontal{--views-responsive-grid--gap-count:calc(var(--views-responsive-grid--column-count) - 1);--views-responsive-grid--total-gap-width:calc(var(--views-responsive-grid--gap-count) * var(--views-responsive-grid--layout-gap));--views-responsive-grid-item--max-width:calc((100% - var(--views-responsive-grid--total-gap-width)) / var(--views-responsive-grid--column-count));--views-responsive-grid-item--calculated-min-width:min(100%,var(--views-responsive-grid--cell-min-width));display:grid;grid-template-columns:repeat(auto-fill,minmax(max(var(--views-responsive-grid-item--calculated-min-width),var(--views-responsive-grid-item--max-width)),1fr));gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical{margin-bottom:calc(var(--views-responsive-grid--layout-gap) * -1);column-width:var(--views-responsive-grid--cell-min-width);column-count:var(--views-responsive-grid--column-count);column-gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical .views-view-responsive-grid__item > *{padding-bottom:var(--views-responsive-grid--layout-gap);page-break-inside:avoid;break-inside:avoid;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}@media (scripting:enabled){.js-hide.js-hide{display:none;}.js-show{display:block;}}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon::before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error::before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning::before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked::before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.tablesaw{width:100%;max-width:100%;empty-cells:show;border-collapse:collapse;border:0;padding:0;}.tablesaw *{box-sizing:border-box;}.tablesaw a.tabledrag-handle .handle{box-sizing:content-box;}.tablesaw-btn{border:1px solid #ccc;border-radius:.25em;background:none;box-shadow:0 1px 0 rgba(255,255,255,1);color:#4a4a4a;cursor:pointer;display:inline-block;margin:0;padding:.5em .85em .4em .85em;position:relative;text-align:center;text-decoration:none;text-transform:capitalize;-webkit-appearance:none;-moz-appearance:none;appearance:none;}a.tablesaw-btn{color:#1c95d4;}.tablesaw-btn:hover{text-decoration:none;}.tablesaw-btn:active{background-color:#ddd;}@supports (box-shadow:none){.tablesaw-btn:focus{background-color:#fff;outline:none;}.tablesaw-btn:focus{box-shadow:0 0 .35em #4faeef !important;}}.tablesaw-btn-select select{background:none;border:none;display:inline-block;position:absolute;left:0;top:0;margin:0;width:100%;height:100%;z-index:2;min-height:1em;opacity:0;color:transparent;}.tablesaw-btn select option{background:#fff;color:#000;}.tablesaw-btn{display:inline-block;width:auto;height:auto;position:relative;top:0;}.tablesaw-btn.btn-small{font-size:1.0625em;line-height:19px;padding:.3em 1em .3em 1em;}.tablesaw-btn.btn-micro{font-size:.8125em;padding:.4em .7em .25em .7em;}.tablesaw-btn-select{text-align:left;display:inline-block;color:#4d4d4d;padding-right:2.5em;min-width:7.25em;}.tablesaw-btn-select:after{position:absolute;background:none;background-repeat:no-repeat;background-position:.25em .45em;content:"\25bc";font-size:.55em;padding-top:1.2em;padding-left:1em;left:auto;right:0;margin:0;top:0;bottom:0;width:1.8em;}.tablesaw-btn-select.btn-small:after,.tablesaw-btn-select.btn-micro:after{width:1.2em;font-size:.5em;padding-top:1em;padding-right:.5em;line-height:1.65;background:none;box-shadow:none;border-left-width:0;}.tablesaw-advance .tablesaw-btn{-webkit-appearance:none;-moz-appearance:none;box-sizing:border-box;text-shadow:0 1px 0 #fff;border-radius:.25em;}.tablesaw-advance .tablesaw-btn.btn-micro{font-size:.8125em;padding:.3em .7em .25em .7em;}.tablesaw-advance a.tablesaw-nav-btn:first-child{margin-left:0;}.tablesaw-advance a.tablesaw-nav-btn:last-child{margin-right:0;}.tablesaw-advance a.tablesaw-nav-btn{display:inline-block;overflow:hidden;width:1.8em;height:1.8em;background-position:50% 50%;margin-left:.25em;margin-right:.25em;position:relative;text-indent:-9999px;}.tablesaw-advance a.tablesaw-nav-btn.left:before,.tablesaw-advance a.tablesaw-nav-btn.right:before,.tablesaw-advance a.tablesaw-nav-btn.down:before,.tablesaw-advance a.tablesaw-nav-btn.up:before{content:"\0020";overflow:hidden;width:0;height:0;position:absolute;}.tablesaw-advance a.tablesaw-nav-btn.down:before{left:.5em;top:.65em;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #808080;}.tablesaw-advance a.tablesaw-nav-btn.up:before{left:.5em;top:.65em;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #808080;}.tablesaw-advance a.tablesaw-nav-btn.left:before,.tablesaw-advance a.tablesaw-nav-btn.right:before{top:.45em;border-top:5px solid transparent;border-bottom:5px solid transparent;}.tablesaw-advance a.tablesaw-nav-btn.left:before{left:.6em;border-right:5px solid #808080;}.tablesaw-advance a.tablesaw-nav-btn.right:before{left:.7em;border-left:5px solid #808080;}.tablesaw-advance a.tablesaw-nav-btn.disabled{opacity:.25;cursor:default;pointer-events:none;}.tablesaw-bar{clear:both;}.tablesaw-bar *{box-sizing:border-box;}.tablesaw-bar-section{float:left;}.tablesaw-bar-section label{font-size:.875em;padding:.5em 0;clear:both;display:block;color:#888;margin-right:.5em;text-transform:uppercase;}.tablesaw-btn,.tablesaw-enhanced .tablesaw-btn{margin-top:.5em;margin-bottom:.5em;}.tablesaw-btn-select,.tablesaw-enhanced .tablesaw-btn-select{margin-bottom:0;}.tablesaw-bar .tablesaw-bar-section .tablesaw-btn{margin-left:.4em;margin-top:0;text-transform:uppercase;border:none;box-shadow:none;background:transparent;font-size:1em;padding-left:.3em;}.tablesaw-bar .tablesaw-bar-section .btn-select{min-width:0;}.tablesaw-bar .tablesaw-bar-section .btn-select:after{padding-top:.9em;}.tablesaw-bar .tablesaw-bar-section select{color:#888;text-transform:none;background:transparent;}.tablesaw-bar-section ~ table{clear:both;}.tablesaw-bar-section .abbreviated{display:inline;}.tablesaw-bar-section .longform{display:none;}@media (min-width:24em){.tablesaw-bar-section .abbreviated{display:none;}.tablesaw-bar-section .longform{display:inline;}}.tablesaw th,.tablesaw td{padding:.5em .7em;text-align:left;vertical-align:middle;}.tablesaw-sortable-btn{padding:.5em .7em;}.tablesaw thead th{text-align:left;}.tablesaw-row-border tr{border-bottom:1px solid #dfdfdf;}.tablesaw-row-zebra tr:nth-child(2n){background-color:#f8f8f8;}.tablesaw caption{text-align:left;margin:.59375em 0;}.tablesaw-swipe .tablesaw-swipe-cellpersist{border-right:2px solid #e4e1de;}.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist{border-right-width:1px;}.tablesaw-swipe-shadow .tablesaw-swipe-cellpersist{box-shadow:3px 0 4px -1px #e4e1de;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:none;}@media (min-width:40em){.tablesaw-stack tr{display:table-row;}.tablesaw-stack td,.tablesaw-stack th,.tablesaw-stack thead td,.tablesaw-stack thead th{display:table-cell;margin:0;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:none !important;}}.tablesaw-fix-persist{table-layout:fixed;}@media only all{.tablesaw-swipe th.tablesaw-swipe-cellhidden,.tablesaw-swipe td.tablesaw-swipe-cellhidden{display:none;}}.tablesaw-overflow{position:relative;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;}.tablesaw-overflow > .tablesaw{margin-top:2px;}.tablesaw-columntoggle-btn span{text-indent:-9999px;display:inline-block;}.tablesaw-columntoggle-btnwrap{position:relative;}.tablesaw-columntoggle-btnwrap .dialog-content{padding:.5em;}.tablesaw-columntoggle tbody td{line-height:1.5;}.tablesaw-columntoggle-popup{display:none;}.tablesaw-columntoggle-btnwrap.visible .tablesaw-columntoggle-popup{display:block;position:absolute;top:2em;right:0;background-color:#fff;padding:.5em .8em;border:1px solid #ccc;box-shadow:0 1px 2px #ccc;border-radius:.2em;z-index:1;}.tablesaw-columntoggle-popup fieldset{margin:0;}.tablesaw-columntoggle-btnwrap .dialog-content{top:0 !important;right:1em;left:auto !important;width:12em;max-width:18em;margin:-.5em auto 0;}.tablesaw-columntoggle-btnwrap .dialog-content:focus{outline-style:none;}@media (min-width:50em){.tablesaw-columntoggle th.tablesaw-priority-4,.tablesaw-columntoggle td.tablesaw-priority-4{display:table-cell;}}@media (min-width:60em){.tablesaw-columntoggle th.tablesaw-priority-5,.tablesaw-columntoggle td.tablesaw-priority-5{display:table-cell;}}@media (min-width:70em){.tablesaw-columntoggle th.tablesaw-priority-6,.tablesaw-columntoggle td.tablesaw-priority-6{display:table-cell;}}@media only all{.tablesaw-columntoggle th.tablesaw-toggle-cellhidden,.tablesaw-columntoggle td.tablesaw-toggle-cellhidden{display:none;}.tablesaw-columntoggle th.tablesaw-toggle-cellvisible,.tablesaw-columntoggle td.tablesaw-toggle-cellvisible{display:table-cell;}}.tablesaw-columntoggle-popup .tablesaw-btn-group > label{display:block;padding:.2em 0;white-space:nowrap;cursor:default;}.tablesaw-columntoggle-popup .tablesaw-btn-group > label input{margin-right:.8em;}.tablesaw-sortable-head{position:relative;vertical-align:top;}.tablesaw .tablesaw-sortable-head{padding:0;}.tablesaw-sortable-btn{min-width:100%;color:inherit;background:transparent;border:0;text-align:inherit;font:inherit;text-transform:inherit;}.tablesaw-sortable-arrow:after{display:inline-block;width:10px;height:14px;content:" ";margin-left:.3125em;}.tablesaw-sortable-ascending .tablesaw-sortable-arrow:after,.tablesaw-sortable-descending .tablesaw-sortable-arrow:after{content:"\0020";}.tablesaw-sortable-ascending .tablesaw-sortable-arrow:after{content:"\2191";}.tablesaw-sortable-descending .tablesaw-sortable-arrow:after{content:"\2193";}.tablesaw-advance{float:right;}.tablesaw-advance.minimap{margin-right:.4em;}.tablesaw-advance-dots{float:left;margin:0;padding:0;list-style:none;}.tablesaw-advance-dots li{display:table-cell;margin:0;padding:.4em .2em;}.tablesaw-advance-dots li i{width:.25em;height:.25em;background:#555;border-radius:100%;display:inline-block;}.tablesaw-advance-dots-hide{opacity:.25;cursor:default;pointer-events:none;}
@media screen{@media only all{.tablesaw-stack{clear:both;}.tablesaw-stack td,.tablesaw-stack th{text-align:left;display:block;}.tablesaw-stack tr{clear:both;display:table-row;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:inline-block;padding:0 .6em 0 0;width:30%;}.tablesaw-stack th .tablesaw-cell-label-top,.tablesaw-stack td .tablesaw-cell-label-top{display:block;padding:.4em 0;margin:.4em 0;}.tablesaw-cell-label{display:block;}.tablesaw-stack tbody th.group{margin-top:-1px;}.tablesaw-stack th.group b.tablesaw-cell-label{display:none !important;}}@media (max-width:39.9375em){.tablesaw-stack tbody tr{display:block;width:100%;border-bottom:1px solid #dfdfdf;}.tablesaw-stack thead td,.tablesaw-stack thead th{display:none;}.tablesaw-stack tbody td,.tablesaw-stack tbody th{display:block;float:left;clear:left;width:100%;}.tablesaw-cell-label{vertical-align:top;}.tablesaw-cell-content{display:inline-block;max-width:67%;}.tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,.tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content{display:block;width:100%;max-width:100%;padding:0;}.tablesaw-stack td:empty,.tablesaw-stack th:empty{display:none;}}@media (min-width:40em){.tablesaw-stack tr{display:table-row;}.tablesaw-stack td,.tablesaw-stack th,.tablesaw-stack thead td,.tablesaw-stack thead th{display:table-cell;margin:0;}.tablesaw-stack td .tablesaw-cell-label,.tablesaw-stack th .tablesaw-cell-label{display:none !important;}}.tablesaw-fix-persist{table-layout:fixed;}@media only all{.tablesaw-columntoggle th.tablesaw-priority-6,.tablesaw-columntoggle td.tablesaw-priority-6,.tablesaw-columntoggle th.tablesaw-priority-5,.tablesaw-columntoggle td.tablesaw-priority-5,.tablesaw-columntoggle th.tablesaw-priority-4,.tablesaw-columntoggle td.tablesaw-priority-4,.tablesaw-columntoggle th.tablesaw-priority-3,.tablesaw-columntoggle td.tablesaw-priority-3,.tablesaw-columntoggle th.tablesaw-priority-2,.tablesaw-columntoggle td.tablesaw-priority-2,.tablesaw-columntoggle th.tablesaw-priority-1,.tablesaw-columntoggle td.tablesaw-priority-1,.tablesaw-columntoggle th.tablesaw-priority-0,.tablesaw-columntoggle td.tablesaw-priority-0{display:none;}}@media (min-width:20em){.tablesaw-columntoggle th.tablesaw-priority-1,.tablesaw-columntoggle td.tablesaw-priority-1{display:table-cell;}}@media (min-width:30em){.tablesaw-columntoggle th.tablesaw-priority-2,.tablesaw-columntoggle td.tablesaw-priority-2{display:table-cell;}}@media (min-width:40em){.tablesaw-columntoggle th.tablesaw-priority-3,.tablesaw-columntoggle td.tablesaw-priority-3{display:table-cell;}.tablesaw-columntoggle tbody td{line-height:2;}}
}
.tablesaw-overflow{position:relative;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;}.tablesaw-overflow > .tablesaw{margin-top:2px;}.tablesaw-columntoggle-btn span{text-indent:-9999px;display:inline-block;}.tablesaw-columntoggle-btnwrap{position:relative;}.tablesaw-columntoggle-btnwrap .dialog-content{padding:.5em;}.tablesaw-columntoggle tbody td{line-height:1.5;}.tablesaw-columntoggle-popup{display:none;}.tablesaw-columntoggle-btnwrap.visible .tablesaw-columntoggle-popup{display:block;position:absolute;top:2em;right:0;background-color:#fff;padding:.5em .8em;border:1px solid #ccc;box-shadow:0 1px 2px #ccc;border-radius:.2em;z-index:1;}.tablesaw-columntoggle-popup fieldset{margin:0;}@media only all{.tablesaw-columntoggle th.tablesaw-priority-6,.tablesaw-columntoggle td.tablesaw-priority-6,.tablesaw-columntoggle th.tablesaw-priority-5,.tablesaw-columntoggle td.tablesaw-priority-5,.tablesaw-columntoggle th.tablesaw-priority-4,.tablesaw-columntoggle td.tablesaw-priority-4,.tablesaw-columntoggle th.tablesaw-priority-3,.tablesaw-columntoggle td.tablesaw-priority-3,.tablesaw-columntoggle th.tablesaw-priority-2,.tablesaw-columntoggle td.tablesaw-priority-2,.tablesaw-columntoggle th.tablesaw-priority-1,.tablesaw-columntoggle td.tablesaw-priority-1,.tablesaw-columntoggle th.tablesaw-priority-0,.tablesaw-columntoggle td.tablesaw-priority-0{display:none;}}.tablesaw-columntoggle-btnwrap .dialog-content{top:0 !important;right:1em;left:auto !important;width:12em;max-width:18em;margin:-.5em auto 0;}.tablesaw-columntoggle-btnwrap .dialog-content:focus{outline-style:none;}@media (min-width:20em){.tablesaw-columntoggle th.tablesaw-priority-1,.tablesaw-columntoggle td.tablesaw-priority-1{display:table-cell;}}@media (min-width:30em){.tablesaw-columntoggle th.tablesaw-priority-2,.tablesaw-columntoggle td.tablesaw-priority-2{display:table-cell;}}@media (min-width:40em){.tablesaw-columntoggle th.tablesaw-priority-3,.tablesaw-columntoggle td.tablesaw-priority-3{display:table-cell;}.tablesaw-columntoggle tbody td{line-height:2;}}@media (min-width:50em){.tablesaw-columntoggle th.tablesaw-priority-4,.tablesaw-columntoggle td.tablesaw-priority-4{display:table-cell;}}@media (min-width:60em){.tablesaw-columntoggle th.tablesaw-priority-5,.tablesaw-columntoggle td.tablesaw-priority-5{display:table-cell;}}@media (min-width:70em){.tablesaw-columntoggle th.tablesaw-priority-6,.tablesaw-columntoggle td.tablesaw-priority-6{display:table-cell;}}@media only all{.tablesaw-columntoggle th.tablesaw-toggle-cellhidden,.tablesaw-columntoggle td.tablesaw-toggle-cellhidden{display:none;}.tablesaw-columntoggle th.tablesaw-toggle-cellvisible,.tablesaw-columntoggle td.tablesaw-toggle-cellvisible{display:table-cell;}}.tablesaw-columntoggle-popup .tablesaw-btn-group > label{display:block;padding:.2em 0;white-space:nowrap;cursor:default;}.tablesaw-columntoggle-popup .tablesaw-btn-group > label input{margin-right:.8em;}
@media screen and (max-width:39.9375em){.tablesaw-stack thead td,.tablesaw-stack thead th{position:absolute !important;width:1px !important;height:1px !important;padding:0 !important;margin:-1px !important;overflow:hidden !important;clip:rect(0,0,0,0) !important;white-space:nowrap !important;border:0 !important;display:table-cell;}}.tablesaw th.views-align-right,.tablesaw td.views-align-right{text-align:right;}.tablesaw th.views-align-center,.tablesaw td.views-align-center{text-align:center;}
.cke5-custom-block-indent-1{margin-left:40px;}.cke5-custom-block-indent-2{margin-left:80px;}.cke5-custom-block-indent-3{margin-left:120px;}.cke5-custom-block-indent-4{margin-left:160px;}.cke5-custom-block-indent-5{margin-left:200px;}.cke5-custom-block-indent-6{margin-left:240px;}.cke5-custom-block-indent-7{margin-left:280px;}.cke5-custom-block-indent-8{margin-left:320px;}.cke5-custom-block-indent-9{margin-left:360px;}.cke5-custom-block-indent-10{margin-left:400px;}.cke5-custom-block-indent-11{margin-left:440px;}.cke5-custom-block-indent-12{margin-left:480px;}.cke5-custom-block-indent-13{margin-left:520px;}.cke5-custom-block-indent-14{margin-left:560px;}.cke5-custom-block-indent-15{margin-left:600px;}.cke5-custom-block-indent-16{margin-left:640px;}.cke5-custom-block-indent-17{margin-left:680px;}.cke5-custom-block-indent-18{margin-left:720px;}.cke5-custom-block-indent-19{margin-left:760px;}.cke5-custom-block-indent-20{margin-left:800px;}
.ckeditor-accordion-container > dl:before,.ckeditor-accordion-container > dl:after{content:" ";display:table;}.ckeditor-accordion-container > dl:after{clear:both;}.ckeditor-accordion-container > dl,.ckeditor-accordion-container > dl dt,.ckeditor-accordion-container > dl dd{box-sizing:border-box;}.ckeditor-accordion-container > dl{position:relative;border:1px solid #0091ea;}.ckeditor-accordion-container > dl dt{position:relative;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle{display:inline-block;position:absolute;padding:0 10px;width:30px;height:30px;z-index:1;top:calc(50% - 1px);left:11px;box-sizing:border-box;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{background:#fff;-webkit-transition:all 600ms cubic-bezier(0.4,0,0.2,1);transition:all 600ms cubic-bezier(0.4,0,0.2,1);content:"";display:block;height:2px;position:absolute;width:10px;z-index:-1;left:0;top:0;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);will-change:transform;}.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:after{transition:initial;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before{left:13px;-webkit-transform:rotate(135deg);transform:rotate(135deg);}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{right:13px;left:auto;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before{transform:rotate(45deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after{transform:rotate(-45deg);}.ckeditor-accordion-container > dl dt > a,.ckeditor-accordion-container > dl dt > a:not(.button){display:block;padding:10px 15px 10px 50px;background-color:#00b0ff;color:#fff;cursor:pointer;-webkit-transition:background-color 300ms;transition:background-color 300ms;border-bottom:1px solid #00a4ec;}.ckeditor-accordion-container > dl dt > a:focus,.ckeditor-accordion-container > dl dt > a:not(.button):focus{outline-color:#333;}.ckeditor-accordion-container > dl dt > a:hover,.ckeditor-accordion-container > dl dt > a:not(.button):hover{background-color:#00a5ef;box-shadow:none;color:#fff;text-decoration:none;}.ckeditor-accordion-container > dl dt.active > a{background-color:#0091ea;}.ckeditor-accordion-container > dl dt:last-of-type > a{border-bottom:0;}.ckeditor-accordion-container > dl dd{display:none;padding:0 15px;margin:0;}
.layout--onecol .layout__region{width:100%;}
