/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.views-view-responsive-grid{--views-responsive-grid--layout-gap:10px;--views-responsive-grid--column-count:4;--views-responsive-grid--cell-min-width:100px;}.views-view-responsive-grid--horizontal{--views-responsive-grid--gap-count:calc(var(--views-responsive-grid--column-count) - 1);--views-responsive-grid--total-gap-width:calc(var(--views-responsive-grid--gap-count) * var(--views-responsive-grid--layout-gap));--views-responsive-grid-item--max-width:calc((100% - var(--views-responsive-grid--total-gap-width)) / var(--views-responsive-grid--column-count));--views-responsive-grid-item--calculated-min-width:min(100%,var(--views-responsive-grid--cell-min-width));display:grid;grid-template-columns:repeat(auto-fill,minmax(max(var(--views-responsive-grid-item--calculated-min-width),var(--views-responsive-grid-item--max-width)),1fr));gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical{margin-bottom:calc(var(--views-responsive-grid--layout-gap) * -1);column-width:var(--views-responsive-grid--cell-min-width);column-count:var(--views-responsive-grid--column-count);column-gap:var(--views-responsive-grid--layout-gap);}.views-view-responsive-grid--vertical .views-view-responsive-grid__item > *{padding-bottom:var(--views-responsive-grid--layout-gap);page-break-inside:avoid;break-inside:avoid;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}.container-inline .hidden{display:none;}
.clearfix::after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li::after{content:", ";}.item-list__comma-list li:last-child::after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}@media (scripting:enabled){.js-hide.js-hide{display:none;}.js-show{display:block;}}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon::before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error::before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning::before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked::before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.cke5-custom-block-indent-1{margin-left:40px;}.cke5-custom-block-indent-2{margin-left:80px;}.cke5-custom-block-indent-3{margin-left:120px;}.cke5-custom-block-indent-4{margin-left:160px;}.cke5-custom-block-indent-5{margin-left:200px;}.cke5-custom-block-indent-6{margin-left:240px;}.cke5-custom-block-indent-7{margin-left:280px;}.cke5-custom-block-indent-8{margin-left:320px;}.cke5-custom-block-indent-9{margin-left:360px;}.cke5-custom-block-indent-10{margin-left:400px;}.cke5-custom-block-indent-11{margin-left:440px;}.cke5-custom-block-indent-12{margin-left:480px;}.cke5-custom-block-indent-13{margin-left:520px;}.cke5-custom-block-indent-14{margin-left:560px;}.cke5-custom-block-indent-15{margin-left:600px;}.cke5-custom-block-indent-16{margin-left:640px;}.cke5-custom-block-indent-17{margin-left:680px;}.cke5-custom-block-indent-18{margin-left:720px;}.cke5-custom-block-indent-19{margin-left:760px;}.cke5-custom-block-indent-20{margin-left:800px;}
.ckeditor-accordion-container > dl:before,.ckeditor-accordion-container > dl:after{content:" ";display:table;}.ckeditor-accordion-container > dl:after{clear:both;}.ckeditor-accordion-container > dl,.ckeditor-accordion-container > dl dt,.ckeditor-accordion-container > dl dd{box-sizing:border-box;}.ckeditor-accordion-container > dl{position:relative;border:1px solid #0091ea;}.ckeditor-accordion-container > dl dt{position:relative;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle{display:inline-block;position:absolute;padding:0 10px;width:30px;height:30px;z-index:1;top:calc(50% - 1px);left:11px;box-sizing:border-box;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{background:#fff;-webkit-transition:all 600ms cubic-bezier(0.4,0,0.2,1);transition:all 600ms cubic-bezier(0.4,0,0.2,1);content:"";display:block;height:2px;position:absolute;width:10px;z-index:-1;left:0;top:0;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);will-change:transform;}.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:before,.ckeditor-accordion-container.no-animations > dl dt > a > .ckeditor-accordion-toggle:after{transition:initial;}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before{left:13px;-webkit-transform:rotate(135deg);transform:rotate(135deg);}.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after{right:13px;left:auto;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:before{transform:rotate(45deg);}.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle:after{transform:rotate(-45deg);}.ckeditor-accordion-container > dl dt > a,.ckeditor-accordion-container > dl dt > a:not(.button){display:block;padding:10px 15px 10px 50px;background-color:#00b0ff;color:#fff;cursor:pointer;-webkit-transition:background-color 300ms;transition:background-color 300ms;border-bottom:1px solid #00a4ec;}.ckeditor-accordion-container > dl dt > a:focus,.ckeditor-accordion-container > dl dt > a:not(.button):focus{outline-color:#333;}.ckeditor-accordion-container > dl dt > a:hover,.ckeditor-accordion-container > dl dt > a:not(.button):hover{background-color:#00a5ef;box-shadow:none;color:#fff;text-decoration:none;}.ckeditor-accordion-container > dl dt.active > a{background-color:#0091ea;}.ckeditor-accordion-container > dl dt:last-of-type > a{border-bottom:0;}.ckeditor-accordion-container > dl dd{display:none;padding:0 15px;margin:0;}
.layout--onecol .layout__region{width:100%;}
.bs-bg-success{background-color:green !important;}.bs-bg-warning{background-color:yellow !important;}.bs-bg-danger{background-color:red !important;}.bs-bg-light{background-color:lightgray !important;}.ui-dialog-off-canvas .bs-bg-sm-success{background-color:green !important;}@media screen and (max-width:576px){.bs-bg-sm-success{background-color:green !important;}}.ui-dialog-off-canvas .bs-bg-sm-warning{background-color:yellow !important;}@media screen and (max-width:576px){.bs-bg-sm-warning{background-color:yellow !important;}}.ui-dialog-off-canvas .bs-bg-sm-danger{background-color:red !important;}@media screen and (max-width:576px){.bs-bg-sm-danger{background-color:red !important;}}.ui-dialog-off-canvas .bs-bg-sm-light{background-color:lightgray !important;}@media screen and (max-width:576px){.bs-bg-sm-light{background-color:lightgray !important;}}.ui-dialog-off-canvas .bs-bg-md-success{background-color:green !important;}@media (min-width:576px) and (max-width:992px){.bs-bg-md-success{background-color:green !important;}}.ui-dialog-off-canvas .bs-bg-md-warning{background-color:yellow !important;}@media (min-width:576px) and (max-width:992px){.bs-bg-md-warning{background-color:yellow !important;}}.ui-dialog-off-canvas .bs-bg-md-danger{background-color:red !important;}@media (min-width:576px) and (max-width:992px){.bs-bg-md-danger{background-color:red !important;}}.ui-dialog-off-canvas .bs-bg-md-light{background-color:lightgray !important;}@media (min-width:576px) and (max-width:992px){.bs-bg-md-light{background-color:lightgray !important;}}.ui-dialog-off-canvas .bs-bg-lg-success{background-color:green !important;}@media (min-width:992px) and (max-width:1200px){.bs-bg-lg-success{background-color:green !important;}}.ui-dialog-off-canvas .bs-bg-lg-warning{background-color:yellow !important;}@media (min-width:992px) and (max-width:1200px){.bs-bg-lg-warning{background-color:yellow !important;}}.ui-dialog-off-canvas .bs-bg-lg-danger{background-color:red !important;}@media (min-width:992px) and (max-width:1200px){.bs-bg-lg-danger{background-color:red !important;}}.ui-dialog-off-canvas .bs-bg-lg-light{background-color:lightgray !important;}@media (min-width:992px) and (max-width:1200px){.bs-bg-lg-light{background-color:lightgray !important;}}.ui-dialog-off-canvas .bs-bg-xl-success{background-color:green !important;}@media (min-width:1200px){.bs-bg-xl-success{background-color:green !important;}}.ui-dialog-off-canvas .bs-bg-xl-warning{background-color:yellow !important;}@media (min-width:1200px){.bs-bg-xl-warning{background-color:yellow !important;}}.ui-dialog-off-canvas .bs-bg-xl-danger{background-color:red !important;}@media (min-width:1200px){.bs-bg-xl-danger{background-color:red !important;}}.ui-dialog-off-canvas .bs-bg-xl-light{background-color:lightgray !important;}@media (min-width:1200px){.bs-bg-xl-light{background-color:lightgray !important;}}
.bs-text-white{color:#ffffff !important;}.ui-dialog-off-canvas .bs-text-white{color:#ffffff !important;}.bs-text-black{color:#000000 !important;}.ui-dialog-off-canvas .bs-text-black{color:#000000 !important;}@media screen and (max-width:576px){.bs-text-sm-white{color:#ffffff !important;}.bs-text-sm-black{color:#000000 !important;}}.ui-dialog-off-canvas .bs-text-sm-white{color:#ffffff !important;}.ui-dialog-off-canvas .bs-text-sm-black{color:#000000 !important;}@media (min-width:576px) and (max-width:992px){.bs-text-md-white{color:#ffffff !important;}.bs-text-md-black{color:#000000 !important;}}.ui-dialog-off-canvas .bs-text-md-white{color:#ffffff !important;}.ui-dialog-off-canvas .bs-text-md-black{color:#000000 !important;}@media (min-width:992px) and (max-width:1200px){.bs-text-lg-white{color:#ffffff !important;}.bs-text-lg-black{color:#000000 !important;}}.ui-dialog-off-canvas .bs-text-lg-white{color:#ffffff !important;}.ui-dialog-off-canvas .bs-text-lg-black{color:#000000 !important;}@media (min-width:1200px){.bs-text-xl-white{color:#ffffff !important;}.bs-text-xl-black{color:#000000 !important;}}.ui-dialog-off-canvas .bs-text-xl-white{color:#ffffff !important;}.ui-dialog-off-canvas .bs-text-xl-black{color:#000000 !important;}
.bs-text-left{text-align:left;}.bs-text-center{text-align:center;}.bs-text-right{text-align:right;}.bs-text-justify{text-align:justify;}
.bs-p-1{padding:0.25rem !important;}.bs-pl-1{padding-left:0.25rem !important;}.bs-pr-1{padding-right:0.25rem !important;}.bs-pt-1{padding-top:0.25rem !important;}.bs-pb-1{padding-bottom:0.25rem !important;}.bs-p-2{padding:0.5rem !important;}.bs-pl-2{padding-left:0.5rem !important;}.bs-pr-2{padding-right:0.5rem !important;}.bs-pt-2{padding-top:0.5rem !important;}.bs-pb-2{padding-bottom:0.5rem !important;}.bs-p-3{padding:1rem !important;}.bs-pl-3{padding-left:1rem !important;}.bs-pr-3{padding-right:1rem !important;}.bs-pt-3{padding-top:1rem !important;}.bs-pb-3{padding-bottom:1rem !important;}.bs-p-4{padding:1.5rem !important;}.bs-pl-4{padding-left:1.5rem !important;}.bs-pr-4{padding-right:1.5rem !important;}.bs-pt-4{padding-top:1.5rem !important;}.bs-pb-4{padding-bottom:1.5rem !important;}.bs-p-5{padding:3rem !important;}.bs-pl-5{padding-left:3rem !important;}.bs-pr-5{padding-right:3rem !important;}.bs-pt-5{padding-top:3rem !important;}.bs-pb-5{padding-bottom:3rem !important;}@media screen and (max-width:576px){.bs-p-sm-1{padding:0.25rem !important;}.bs-pl-sm-1{padding-left:0.25rem !important;}.bs-pr-sm-1{padding-right:0.25rem !important;}.bs-pt-sm-1{padding-top:0.25rem !important;}.bs-pb-sm-1{padding-bottom:0.25rem !important;}}.ui-dialog-off-canvas .bs-p-sm-1{padding:0.25rem !important;}.ui-dialog-off-canvas .bs-pl-sm-1{padding-left:0.25rem !important;}.ui-dialog-off-canvas .bs-pr-sm-1{padding-right:0.25rem !important;}.ui-dialog-off-canvas .bs-pt-sm-1{padding-top:0.25rem !important;}.ui-dialog-off-canvas .bs-pb-sm-1{padding-bottom:0.25rem !important;}@media (min-width:576px) and (max-width:992px){.bs-p-md-1{padding:0.25rem !important;}.bs-pl-md-1{padding-left:0.25rem !important;}.bs-pr-md-1{padding-right:0.25rem !important;}.bs-pt-md-1{padding-top:0.25rem !important;}.bs-pb-md-1{padding-bottom:0.25rem !important;}}.ui-dialog-off-canvas .bs-p-md-1{padding:0.25rem !important;}.ui-dialog-off-canvas .bs-pl-md-1{padding-left:0.25rem !important;}.ui-dialog-off-canvas .bs-pr-md-1{padding-right:0.25rem !important;}.ui-dialog-off-canvas .bs-pt-md-1{padding-top:0.25rem !important;}.ui-dialog-off-canvas .bs-pb-md-1{padding-bottom:0.25rem !important;}@media (min-width:992px) and (max-width:1200px){.bs-p-lg-1{padding:0.25rem !important;}.bs-pl-lg-1{padding-left:0.25rem !important;}.bs-pr-lg-1{padding-right:0.25rem !important;}.bs-pt-lg-1{padding-top:0.25rem !important;}.bs-pb-lg-1{padding-bottom:0.25rem !important;}}.ui-dialog-off-canvas .bs-p-lg-1{padding:0.25rem !important;}.ui-dialog-off-canvas .bs-pl-lg-1{padding-left:0.25rem !important;}.ui-dialog-off-canvas .bs-pr-lg-1{padding-right:0.25rem !important;}.ui-dialog-off-canvas .bs-pt-lg-1{padding-top:0.25rem !important;}.ui-dialog-off-canvas .bs-pb-lg-1{padding-bottom:0.25rem !important;}@media (min-width:1200px){.bs-p-xl-1{padding:0.25rem !important;}.bs-pl-xl-1{padding-left:0.25rem !important;}.bs-pr-xl-1{padding-right:0.25rem !important;}.bs-pt-xl-1{padding-top:0.25rem !important;}.bs-pb-xl-1{padding-bottom:0.25rem !important;}}.ui-dialog-off-canvas .bs-p-xl-1{padding:0.25rem !important;}.ui-dialog-off-canvas .bs-pl-xl-1{padding-left:0.25rem !important;}.ui-dialog-off-canvas .bs-pr-xl-1{padding-right:0.25rem !important;}.ui-dialog-off-canvas .bs-pt-xl-1{padding-top:0.25rem !important;}.ui-dialog-off-canvas .bs-pb-xl-1{padding-bottom:0.25rem !important;}@media screen and (max-width:576px){.bs-p-sm-2{padding:0.5rem !important;}.bs-pl-sm-2{padding-left:0.5rem !important;}.bs-pr-sm-2{padding-right:0.5rem !important;}.bs-pt-sm-2{padding-top:0.5rem !important;}.bs-pb-sm-2{padding-bottom:0.5rem !important;}}.ui-dialog-off-canvas .bs-p-sm-2{padding:0.5rem !important;}.ui-dialog-off-canvas .bs-pl-sm-2{padding-left:0.5rem !important;}.ui-dialog-off-canvas .bs-pr-sm-2{padding-right:0.5rem !important;}.ui-dialog-off-canvas .bs-pt-sm-2{padding-top:0.5rem !important;}.ui-dialog-off-canvas .bs-pb-sm-2{padding-bottom:0.5rem !important;}@media (min-width:576px) and (max-width:992px){.bs-p-md-2{padding:0.5rem !important;}.bs-pl-md-2{padding-left:0.5rem !important;}.bs-pr-md-2{padding-right:0.5rem !important;}.bs-pt-md-2{padding-top:0.5rem !important;}.bs-pb-md-2{padding-bottom:0.5rem !important;}}.ui-dialog-off-canvas .bs-p-md-2{padding:0.5rem !important;}.ui-dialog-off-canvas .bs-pl-md-2{padding-left:0.5rem !important;}.ui-dialog-off-canvas .bs-pr-md-2{padding-right:0.5rem !important;}.ui-dialog-off-canvas .bs-pt-md-2{padding-top:0.5rem !important;}.ui-dialog-off-canvas .bs-pb-md-2{padding-bottom:0.5rem !important;}@media (min-width:992px) and (max-width:1200px){.bs-p-lg-2{padding:0.5rem !important;}.bs-pl-lg-2{padding-left:0.5rem !important;}.bs-pr-lg-2{padding-right:0.5rem !important;}.bs-pt-lg-2{padding-top:0.5rem !important;}.bs-pb-lg-2{padding-bottom:0.5rem !important;}}.ui-dialog-off-canvas .bs-p-lg-2{padding:0.5rem !important;}.ui-dialog-off-canvas .bs-pl-lg-2{padding-left:0.5rem !important;}.ui-dialog-off-canvas .bs-pr-lg-2{padding-right:0.5rem !important;}.ui-dialog-off-canvas .bs-pt-lg-2{padding-top:0.5rem !important;}.ui-dialog-off-canvas .bs-pb-lg-2{padding-bottom:0.5rem !important;}@media (min-width:1200px){.bs-p-xl-2{padding:0.5rem !important;}.bs-pl-xl-2{padding-left:0.5rem !important;}.bs-pr-xl-2{padding-right:0.5rem !important;}.bs-pt-xl-2{padding-top:0.5rem !important;}.bs-pb-xl-2{padding-bottom:0.5rem !important;}}.ui-dialog-off-canvas .bs-p-xl-2{padding:0.5rem !important;}.ui-dialog-off-canvas .bs-pl-xl-2{padding-left:0.5rem !important;}.ui-dialog-off-canvas .bs-pr-xl-2{padding-right:0.5rem !important;}.ui-dialog-off-canvas .bs-pt-xl-2{padding-top:0.5rem !important;}.ui-dialog-off-canvas .bs-pb-xl-2{padding-bottom:0.5rem !important;}@media screen and (max-width:576px){.bs-p-sm-3{padding:1rem !important;}.bs-pl-sm-3{padding-left:1rem !important;}.bs-pr-sm-3{padding-right:1rem !important;}.bs-pt-sm-3{padding-top:1rem !important;}.bs-pb-sm-3{padding-bottom:1rem !important;}}.ui-dialog-off-canvas .bs-p-sm-3{padding:1rem !important;}.ui-dialog-off-canvas .bs-pl-sm-3{padding-left:1rem !important;}.ui-dialog-off-canvas .bs-pr-sm-3{padding-right:1rem !important;}.ui-dialog-off-canvas .bs-pt-sm-3{padding-top:1rem !important;}.ui-dialog-off-canvas .bs-pb-sm-3{padding-bottom:1rem !important;}@media (min-width:576px) and (max-width:992px){.bs-p-md-3{padding:1rem !important;}.bs-pl-md-3{padding-left:1rem !important;}.bs-pr-md-3{padding-right:1rem !important;}.bs-pt-md-3{padding-top:1rem !important;}.bs-pb-md-3{padding-bottom:1rem !important;}}.ui-dialog-off-canvas .bs-p-md-3{padding:1rem !important;}.ui-dialog-off-canvas .bs-pl-md-3{padding-left:1rem !important;}.ui-dialog-off-canvas .bs-pr-md-3{padding-right:1rem !important;}.ui-dialog-off-canvas .bs-pt-md-3{padding-top:1rem !important;}.ui-dialog-off-canvas .bs-pb-md-3{padding-bottom:1rem !important;}@media (min-width:992px) and (max-width:1200px){.bs-p-lg-3{padding:1rem !important;}.bs-pl-lg-3{padding-left:1rem !important;}.bs-pr-lg-3{padding-right:1rem !important;}.bs-pt-lg-3{padding-top:1rem !important;}.bs-pb-lg-3{padding-bottom:1rem !important;}}.ui-dialog-off-canvas .bs-p-lg-3{padding:1rem !important;}.ui-dialog-off-canvas .bs-pl-lg-3{padding-left:1rem !important;}.ui-dialog-off-canvas .bs-pr-lg-3{padding-right:1rem !important;}.ui-dialog-off-canvas .bs-pt-lg-3{padding-top:1rem !important;}.ui-dialog-off-canvas .bs-pb-lg-3{padding-bottom:1rem !important;}@media (min-width:1200px){.bs-p-xl-3{padding:1rem !important;}.bs-pl-xl-3{padding-left:1rem !important;}.bs-pr-xl-3{padding-right:1rem !important;}.bs-pt-xl-3{padding-top:1rem !important;}.bs-pb-xl-3{padding-bottom:1rem !important;}}.ui-dialog-off-canvas .bs-p-xl-3{padding:1rem !important;}.ui-dialog-off-canvas .bs-pl-xl-3{padding-left:1rem !important;}.ui-dialog-off-canvas .bs-pr-xl-3{padding-right:1rem !important;}.ui-dialog-off-canvas .bs-pt-xl-3{padding-top:1rem !important;}.ui-dialog-off-canvas .bs-pb-xl-3{padding-bottom:1rem !important;}@media screen and (max-width:576px){.bs-p-sm-4{padding:1.5rem !important;}.bs-pl-sm-4{padding-left:1.5rem !important;}.bs-pr-sm-4{padding-right:1.5rem !important;}.bs-pt-sm-4{padding-top:1.5rem !important;}.bs-pb-sm-4{padding-bottom:1.5rem !important;}}.ui-dialog-off-canvas .bs-p-sm-4{padding:1.5rem !important;}.ui-dialog-off-canvas .bs-pl-sm-4{padding-left:1.5rem !important;}.ui-dialog-off-canvas .bs-pr-sm-4{padding-right:1.5rem !important;}.ui-dialog-off-canvas .bs-pt-sm-4{padding-top:1.5rem !important;}.ui-dialog-off-canvas .bs-pb-sm-4{padding-bottom:1.5rem !important;}@media (min-width:576px) and (max-width:992px){.bs-p-md-4{padding:1.5rem !important;}.bs-pl-md-4{padding-left:1.5rem !important;}.bs-pr-md-4{padding-right:1.5rem !important;}.bs-pt-md-4{padding-top:1.5rem !important;}.bs-pb-md-4{padding-bottom:1.5rem !important;}}.ui-dialog-off-canvas .bs-p-md-4{padding:1.5rem !important;}.ui-dialog-off-canvas .bs-pl-md-4{padding-left:1.5rem !important;}.ui-dialog-off-canvas .bs-pr-md-4{padding-right:1.5rem !important;}.ui-dialog-off-canvas .bs-pt-md-4{padding-top:1.5rem !important;}.ui-dialog-off-canvas .bs-pb-md-4{padding-bottom:1.5rem !important;}@media (min-width:992px) and (max-width:1200px){.bs-p-lg-4{padding:1.5rem !important;}.bs-pl-lg-4{padding-left:1.5rem !important;}.bs-pr-lg-4{padding-right:1.5rem !important;}.bs-pt-lg-4{padding-top:1.5rem !important;}.bs-pb-lg-4{padding-bottom:1.5rem !important;}}.ui-dialog-off-canvas .bs-p-lg-4{padding:1.5rem !important;}.ui-dialog-off-canvas .bs-pl-lg-4{padding-left:1.5rem !important;}.ui-dialog-off-canvas .bs-pr-lg-4{padding-right:1.5rem !important;}.ui-dialog-off-canvas .bs-pt-lg-4{padding-top:1.5rem !important;}.ui-dialog-off-canvas .bs-pb-lg-4{padding-bottom:1.5rem !important;}@media (min-width:1200px){.bs-p-xl-4{padding:1.5rem !important;}.bs-pl-xl-4{padding-left:1.5rem !important;}.bs-pr-xl-4{padding-right:1.5rem !important;}.bs-pt-xl-4{padding-top:1.5rem !important;}.bs-pb-xl-4{padding-bottom:1.5rem !important;}}.ui-dialog-off-canvas .bs-p-xl-4{padding:1.5rem !important;}.ui-dialog-off-canvas .bs-pl-xl-4{padding-left:1.5rem !important;}.ui-dialog-off-canvas .bs-pr-xl-4{padding-right:1.5rem !important;}.ui-dialog-off-canvas .bs-pt-xl-4{padding-top:1.5rem !important;}.ui-dialog-off-canvas .bs-pb-xl-4{padding-bottom:1.5rem !important;}@media screen and (max-width:576px){.bs-p-sm-5{padding:3rem !important;}.bs-pl-sm-5{padding-left:3rem !important;}.bs-pr-sm-5{padding-right:3rem !important;}.bs-pt-sm-5{padding-top:3rem !important;}.bs-pb-sm-5{padding-bottom:3rem !important;}}.ui-dialog-off-canvas .bs-p-sm-5{padding:3rem !important;}.ui-dialog-off-canvas .bs-pl-sm-5{padding-left:3rem !important;}.ui-dialog-off-canvas .bs-pr-sm-5{padding-right:3rem !important;}.ui-dialog-off-canvas .bs-pt-sm-5{padding-top:3rem !important;}.ui-dialog-off-canvas .bs-pb-sm-5{padding-bottom:3rem !important;}@media (min-width:576px) and (max-width:992px){.bs-p-md-5{padding:3rem !important;}.bs-pl-md-5{padding-left:3rem !important;}.bs-pr-md-5{padding-right:3rem !important;}.bs-pt-md-5{padding-top:3rem !important;}.bs-pb-md-5{padding-bottom:3rem !important;}}.ui-dialog-off-canvas .bs-p-md-5{padding:3rem !important;}.ui-dialog-off-canvas .bs-pl-md-5{padding-left:3rem !important;}.ui-dialog-off-canvas .bs-pr-md-5{padding-right:3rem !important;}.ui-dialog-off-canvas .bs-pt-md-5{padding-top:3rem !important;}.ui-dialog-off-canvas .bs-pb-md-5{padding-bottom:3rem !important;}@media (min-width:992px) and (max-width:1200px){.bs-p-lg-5{padding:3rem !important;}.bs-pl-lg-5{padding-left:3rem !important;}.bs-pr-lg-5{padding-right:3rem !important;}.bs-pt-lg-5{padding-top:3rem !important;}.bs-pb-lg-5{padding-bottom:3rem !important;}}.ui-dialog-off-canvas .bs-p-lg-5{padding:3rem !important;}.ui-dialog-off-canvas .bs-pl-lg-5{padding-left:3rem !important;}.ui-dialog-off-canvas .bs-pr-lg-5{padding-right:3rem !important;}.ui-dialog-off-canvas .bs-pt-lg-5{padding-top:3rem !important;}.ui-dialog-off-canvas .bs-pb-lg-5{padding-bottom:3rem !important;}@media (min-width:1200px){.bs-p-xl-5{padding:3rem !important;}.bs-pl-xl-5{padding-left:3rem !important;}.bs-pr-xl-5{padding-right:3rem !important;}.bs-pt-xl-5{padding-top:3rem !important;}.bs-pb-xl-5{padding-bottom:3rem !important;}}.ui-dialog-off-canvas .bs-p-xl-5{padding:3rem !important;}.ui-dialog-off-canvas .bs-pl-xl-5{padding-left:3rem !important;}.ui-dialog-off-canvas .bs-pr-xl-5{padding-right:3rem !important;}.ui-dialog-off-canvas .bs-pt-xl-5{padding-top:3rem !important;}.ui-dialog-off-canvas .bs-pb-xl-5{padding-bottom:3rem !important;}
.bs-mx-1{margin-left:0.5rem !important;margin-right:0.5rem !important;}.bs-mx-2{margin-left:1rem !important;margin-right:1rem !important;}.bs-my-1{margin-top:0.5rem !important;margin-bottom:0.5rem !important;}.bs-my-2{margin-top:1rem !important;margin-bottom:1rem !important;}.bs-m-1{margin:0.5rem !important;}.bs-m-2{margin:1rem !important;}.bs-m-3{margin:2rem !important;}.bs-m-4{margin:4rem !important;}.bs-m-5{margin:8rem !important;}.bs-mt-1{margin-top:0.5rem !important;}.bs-mt-2{margin-top:1rem !important;}.bs-mt-3{margin-top:2rem !important;}.bs-mt-4{margin-top:4rem !important;}.bs-mt-5{margin-top:8rem !important;}.bs-mb-1{margin-bottom:0.5rem !important;}.bs-mb-2{margin-bottom:1rem !important;}.bs-mb-3{margin-bottom:2rem !important;}.bs-mb-4{margin-bottom:4rem !important;}.bs-mb-5{margin-bottom:8rem !important;}.bs-ml-1{margin-left:0.5rem !important;}.bs-ml-2{margin-left:1rem !important;}.bs-ml-3{margin-left:2rem !important;}.bs-ml-4{margin-left:4rem !important;}.bs-ml-5{margin-left:8rem !important;}.bs-mr-1{margin-right:0.5rem !important;}.bs-mr-2{margin-right:1rem !important;}.bs-mr-3{margin-right:2rem !important;}.bs-mr-4{margin-right:4rem !important;}.bs-mr-5{margin-right:8rem !important;}
body .bs-border-style-solid{border-style:solid !important;}body .bs-border-style-dashed{border-style:dashed !important;}body .bs-border-style-dotted{border-style:dotted !important;}body .bs-border-style-left-solid{border-left-style:solid !important;}body .bs-border-style-left-dashed{border-left-style:dashed !important;}body .bs-border-style-left-dotted{border-left-style:dotted !important;}body .bs-border-style-top-solid{border-top-style:solid !important;}body .bs-border-style-top-dashed{border-top-style:dashed !important;}body .bs-border-style-top-dotted{border-top-style:dotted !important;}body .bs-border-style-right-solid{border-right-style:solid !important;}body .bs-border-style-right-dashed{border-right-style:dashed !important;}body .bs-border-style-right-dotted{border-right-style:dotted !important;}body .bs-border-style-bottom-solid{border-bottom-style:solid !important;}body .bs-border-style-bottom-dashed{border-bottom-style:dashed !important;}body .bs-border-style-bottom-dotted{border-bottom-style:dotted !important;}body .bs-border-width-1{border-width:1px !important;}body .bs-border-width-2{border-width:2px !important;}body .bs-border-width-3{border-width:3px !important;}body .bs-border-width-left-1{border-left-width:1px !important;}body .bs-border-width-left-2{border-left-width:2px !important;}body .bs-border-width-left-3{border-left-width:3px !important;}body .bs-border-width-top-1{border-top-width:1px !important;}body .bs-border-width-top-2{border-top-width:2px !important;}body .bs-border-width-top-3{border-top-width:3px !important;}body .bs-border-width-right-1{border-right-width:1px !important;}body .bs-border-width-right-2{border-right-width:2px !important;}body .bs-border-width-right-3{border-right-width:3px !important;}body .bs-border-width-bottom-1{border-bottom-width:1px !important;}body .bs-border-width-bottom-2{border-bottom-width:2px !important;}body .bs-border-width-bottom-width-3{border-bottom-width:3px !important;}body .bs-border-color-red{border-color:red !important;}body .bs-border-color-green{border-color:green !important;}body .bs-border-color-blue{border-color:blue !important;}body .bs-border-color-left-red{border-left-color:red !important;}body .bs-border-color-left-green{border-left-color:green !important;}body .bs-border-color-left-blue{border-left-color:blue !important;}body .bs-border-color-top-red{border-top-color:red !important;}body .bs-border-color-top-green{border-top-color:green !important;}body .bs-border-color-top-blue{border-top-color:blue !important;}body .bs-border-color-right-red{border-right-color:red !important;}body .bs-border-color-right-green{border-right-color:green !important;}body .bs-border-color-right-blue{border-right-color:blue !important;}body .bs-border-color-bottom-red{border-bottom-color:red !important;}body .bs-border-color-bottom-green{border-bottom-color:green !important;}body .bs-border-color-bottom-blue{border-bottom-color:blue !important;}body .bs-border-radius-1{border-radius:0.5rem;}body .bs-border-radius-2{border-radius:1rem;}body .bs-border-radius-3{border-radius:2rem;}body .bs-border-radius-top-left-1{border-top-left-radius:0.5rem;}body .bs-border-radius-top-left-2{border-top-left-radius:1rem;}body .bs-border-radius-top-left-3{border-top-left-radius:2rem;}body .bs-border-radius-top-right-1{border-top-right-radius:0.5rem;}body .bs-border-radius-top-right-2{border-top-right-radius:1rem;}body .bs-border-radius-top-right-3{border-top-right-radius:2rem;}body .bs-border-radius-bottom-left-1{border-bottom-left-radius:0.5rem;}body .bs-border-radius-bottom-left-2{border-bottom-left-radius:1rem;}body .bs-border-radius-bottom-left-3{border-bottom-left-radius:2rem;}body .bs-border-radius-bottom-right-1{border-bottom-right-radius:0.5rem;}body .bs-border-radius-bottom-right-2{border-bottom-right-radius:1rem;}body .bs-border-radius-bottom-right-3{border-bottom-right-radius:2rem;}
.bs-shadow-sm{box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;}.bs-shadow{box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15) !important;}.bs-shadow-lg{box-shadow:0 1rem 3rem rgba(0,0,0,0.175) !important;}
