<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/pt-pt">
  <channel>
    <title>Festa</title>
    <link>https://festa2024.softwarelivre.eu/pt-pt</link>
    <description/>
    <language>pt-pt</language>
    
    <item>
  <title>20 Anos de Festa do Software Livre</title>
  <link>https://festa2024.softwarelivre.eu/pt-pt/node/7</link>
  <description><![CDATA[
<span>20 Anos de Festa do Software Livre</span>

<span><span>andralves</span></span>

<span>Thu, 2024-06-20 00:00
</span>
]]></description>
  <pubDate>Wed, 19 Jun 2024 23:00:00 +0000</pubDate>
    <dc:creator>andralves</dc:creator>
    <guid isPermaLink="false">7 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
