<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/pt-pt">
  <channel>
    <title>2024</title>
    <link>https://festa2024.softwarelivre.eu/pt-pt</link>
    <description/>
    <language>pt-pt</language>
    
    
  </channel>
</rss>
