<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://festa2024.softwarelivre.eu/pt-pt">
  <channel>
    <title>Presentations</title>
    <link>https://festa2024.softwarelivre.eu/pt-pt</link>
    <description/>
    <language>pt-pt</language>
    
    <item>
  <title>Chamada para apresentações</title>
  <link>https://festa2024.softwarelivre.eu/pt-pt/chamada_para_apresentacoes</link>
  <description><![CDATA[
<span>Chamada para apresentações</span>

<span><span>andralves</span></span>

<span>Thu, 2024-09-26 12:00
</span>

              



      ]]></description>
  <pubDate>Thu, 26 Sep 2024 11:00:00 +0000</pubDate>
    <dc:creator>andralves</dc:creator>
    <guid isPermaLink="false">32 at https://festa2024.softwarelivre.eu</guid>
    </item>

  </channel>
</rss>
